* {
  padding: 0;
  margin: 0;
}
body {
  background-color: lightgray;
}
/* NAVIGATION */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: deepskyblue;
}

.logo {
  padding: 1em;
  text-transform: uppercase;
}

.logo a {
  color: rgb(red, green, blue);
}

ul {
  list-style: none;
  text-transform: uppercase;
  display: flex;
}

.logo a,
ul a {
  text-decoration: none;
  letter-spacing: 0.45em;
}

ul a {
  display: block;
  padding: 1em;
  color: white;
}

ul a:hover {
  background: #00ace6;
}

/* DOGS */

.dogs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.dogs img {
  width: 200px;
  margin: 20px;
}

/* CATS */

.cats {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cats img {
  width: 250px;
  margin: 25px;
}
